version: '3'
volumes:
  mongodb_volume:
services:
  server:
    build: server
    volumes:
      - .:/server/
      - /server/node_modules
    ports:
      - '3000:3000'
    depends_on:
      - postgres

  client:
    build: client
    ports:
    - '8080:80'

  postgres:
    image: postgres:latest
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: admin